# Visual Studio
/.vs
**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters

#Vscode
/.vscode
/.cache

#CLion
/.idea

# Build Output
/build
/logs
**/bin
**/obj
**.csproj

# qemu boot
/qemu_boot

#tests
/local_tests

# Logs
**/logs

#possible additions
/idk maybe

# individual files
/TODO.txt
/CMakeUserPresets.json

#MacOS specific
**.DS_Store

#build errors

build_errors.md
build_warnings.md

